# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3

# Virtual environments
.env
.venv/
env/
venv/

# Logs
*.log

# IDEs
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Jupyter Notebook
.ipynb_checkpoints/

# Pytest
.cache/
.pytest_cache/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
var/
sdist/
*.egg-info/
.installed.cfg
*.egg

# Miscellaneous
*.DS_Store
*.egg-info/
*.swp
*.swo
*.orig
*.bak
*.tmp

# Ignore sensitive files
*.env
secret_key.txt
